.ui-lc-viewers{position:fixed;background:#fff;right:0px;bottom:0px; /*height: 80%;*/overflow-y:scroll;/*width: 201px;*/border-left: 1px solid grey;}
.ui-lc-chatcontents{font-size:80%;height:176px;overflow:auto;padding:0px}
.ui-lc-chatcontents div{padding-bottom:3px}
.ui-lc-chatinput{bottom:0;width:100%;}
.ui-lc-chatinput textarea{outline-width: 0;border:0;border-top:1px solid grey;font-size:80%;height:22px;resize:none;width:100%}
.ui-lc-chatwindow{margin:5px;width:240px;margin-bottom:0px;border-bottom:1px; }
.ui-lc-container{bottom:0px;position:fixed;right:320px}
.ui-lc-header{cursor:pointer;font-size:80%;padding:3px; border-top: 0px; border-left: 0px; border-right: 0px}
.ui-lc-header .ui-icon{cursor:pointer;float:right}
.ui-lc-header div{float:left}
.ui-lc-userstatus{background:#fff;border-bottom:1px dashed grey;display:block;font-size:80%;font-weight: bold;margin-top:25px;opacity:.8;padding:2px;/*position:absolute*/;width:236px}
.ui-lc-viewer-container{font-size:80%;list-style:none;width:100%; /*height: 100%;*/ overflow: auto;margin:0;padding:0;width:100%;}
.ui-lc-viewer-container li{border-bottom: 1px dashed grey;width:100%; }
.ui-lc-statusnotify{ width: 8px; height: 8px; margin: 4px; margin-top:3px; border: 1px solid grey; background: green}
.ui-lc-chatentry{ border-top: 1px dashed grey; padding: 2px; margin-top: 5px; }
.ui-lc-chatdate{ min-width: 50px;float: right;height: 9px; margin-top: -8px; margin-right: -2px;  padding-right: 5px; padding-left: 5px;}
.ui-lc-chatdate-txt{ display: none; text-align:right; width: auto; line-height: 8px; font-size: 9px; background: #fff;  color: grey;  padding-right: 5px; padding-left: 5px;}
.ui-lc-chattxt{float: left; margin-left: 5px; word-wrap: break-word; width: 180px; }
.ui-lc-gravitar{float: left; margin-top: 5px;}
.ui-lc-gravitar img{ width: 30px; height: 30px;}
.ui-lc-viewers-user{ float: left; margin-top: 5px; cursor: pointer; text-decoration: underline}
.ui-lc-viewer-container .ui-lc-gravitar{ margin: 3px; }
.ui-lc-viewer-container .ui-lc-gravitar img{ width: 20px; height: 20px; border: 1px solid grey }
.ui-lc-me{ font-weight: bold}
.ui-lc-chatheader-user{ white-space: nowrap; width: 195px; overflow: hidden;}
.ui-lc-viewer-containerheader img{ width: 10px; height: 10px; margin-top: 0px; margin-left: 2px;margin-right:4px}
.ui-lc-viewer-containerheader{ height: 26px;padding-top: 6px;border-right:0px}
.ui-lc-viewer-containerheader-txt{ float: left;width:180px; overflow: hidden; white-space: nowrap}
.ui-lc-viewer-containerheader .ui-icon{ cursor: pointer}
.header{float:left;width:100%}
.chatleft{float:left;text-align:left;}
.chatright{float:left;text-align:right;}

