.ui-lc-viewers{position:fixed;background:#fff;right:0px;bottom:0px; /*height: 80%;*/overflow-y:scroll;/*width: 201px;*/border-left: 1px solid #FE9300;}
.ui-lc-chatcontents{font-size:80%;height:176px;overflow:auto;padding:0px}
.ui-lc-chatcontents div{padding-bottom:3px}
.ui-lc-chatinput{bottom:0;width:100%;}
.ui-lc-chatinput textarea{outline-width: 0;border:0;border-top:1px solid grey;font-size:80%;height:22px;resize:none;width:100%}
.ui-lc-chatwindow{margin:5px;width:240px;margin-bottom:0px;border-bottom:1px; }
.ui-lc-container{bottom:0px;position:fixed;right:385px}
.ui-lc-header{cursor:pointer;font-size:80%;padding:3px; border-top: 0px; border-left: 0px; border-right: 0px}
.ui-lc-header .ui-icon{cursor:pointer;float:right}
.ui-lc-header div{float:left}
.ui-lc-userstatus{background:#fff;border-bottom:1px dashed grey;display:block;font-size:80%;font-weight: bold;margin-top:25px;opacity:.8;padding:2px;/*position:absolute*/;width:236px}
.ui-lc-viewer-container{font-size:80%;list-style:none;width:100%; /*height: 100%;*/ overflow: auto;margin:0;padding:0;width:100%;}
.ui-lc-viewer-container li{border-bottom: 1px dashed grey;width:100%; }
.ui-lc-statusnotify{ width: 8px; height: 8px; margin: 4px; margin-top:3px; border: 1px solid grey; background: green}
.ui-lc-chatentry{ border-top: 1px dashed grey; padding: 2px; margin-top: 12px !important; }
.ui-lc-chatdate{ min-width: 50px;float: right;height: 9px; margin-top: -8px; margin-right: -2px;  padding-right: 5px; padding-left: 5px;}
.ui-lc-chatdate-txt{ display: none; text-align:right; width: auto; line-height: 8px; font-size: 9px; background: #fff;  color: grey;  padding-right: 5px; padding-left: 5px;}
.ui-lc-chattxt{float: left; margin-left: 5px; word-wrap: break-word; width: 180px; }
.ui-lc-gravitar{float: left; margin-top: 5px;}
.ui-lc-gravitar img{ width: 30px; height: 30px;}
.ui-lc-viewers-user{ float: left; margin-top: 12px; cursor: pointer; text-decoration: underline}
.ui-lc-viewer-container .ui-lc-gravitar{ margin: 3px; }
.ui-lc-viewer-container .ui-lc-gravitar img{ width: 20px; height: 20px; border: 1px solid grey }
.ui-lc-me{ font-weight: bold}
.ui-lc-chatheader-user{ white-space: nowrap; width: 195px; overflow: hidden;}
.ui-lc-viewer-containerheader img{ width: 40px; height: 40px; margin-top: 0px; margin-left: 2px;margin-right:4px}
.ui-lc-viewer-containerheader{ height: 26px;padding-top: 6px;border-right:0px}
.ui-lc-viewer-containerheader-txt{ float: left;width:300px; text-transform: capitalize; overflow: hidden; white-space: nowrap}
.ui-lc-viewer-containerheader .ui-icon{ cursor: pointer}
.header{float:left;width:100%}
.chatleft{float:left;text-align:left;}
.chatright{float:left;text-align:right;}

.ui-lc-viewer-containerheader-txt span {float:left;margin-top:15px;margin-left:10px;}




@CHARSET "UTF-8";
#footer-bar{/*  display:none; */}
.select-bx1 .select2{ max-width:100%; width:100% !important; }
.mrgntp0{     margin-top: 0px !important;}
.pdg0{padding:0px !important;}
.pdgtp0{padding-top:0px !important;}
.pdgtp4{padding-top:4px !important;}
.mrgnbt10{     margin-bottom: 10px !important;} 
.marbtm1 {    margin-bottom: 1% !important;}
.pdlt0 {    padding-left: 0px !important;}
.mataince-com {  font-weight: bold;  margin-left: 10px;    color: #666;    text-transform: capitalize;}
.after-semi::after {    content: ':';    position: absolute;    right: 2px;    vertical-align: top;    top: 0px;}
.page-tittle1{}
.mrgtp5{margin-top: 5%;}
.mrgtp7{margin-top: 7%;}
.mrgntp10{     margin-top: 10px !important;}
.mrgntp5{     margin-top: 5px !important;} 
.mrgntp5 {    margin-top: 5px !important;}.martp10{ margin-top:10px} .martp20{ margin-top:20px} .martp30{ margin-top:30px} .martp40{ margin-top:40px} .martp50{ margin-top:50px} .mrtp50{    margin-top: 50px;}
.mrgntbm5 {    margin-bottom: 5px !important;}.marbm10{     margin-bottom: 10px !important;}.marbm20{ margin-bottom:20px}.mrbm50{    margin-bottom: 50px;}
.page-tittle1 h3{     margin-top: 0px !important;    padding-bottom: 8px;}
.input-large{ width:100% !important}
table span.label{font-weight:bold}
.content-para{    padding-top: 7px;}
.content-para p{ margin-top:0px !important;}
.blue-text{    color: #2B2866;    font-weight: 600 !important;}
.left{ float:left;}
.clear-both{float: left;width: 100%; clear:both;}
.form-control{     border-width: 1px !important;border-color: #A2A2A2;}
.main-box .main-box-header{padding-left: 0px;}
.role-permission>tbody>tr>td:first-child {    background-color: #ABC8ED;    font-weight: bold;}
#permissions input[type="checkbox"] {    margin: 5px 6px;}
.role-permission>tbody>tr>td span {      font-size: 14px !important;  text-transform: capitalize;    margin-top: 3px;    margin-left: 5px;}
.role-permission thead tr td {    background: #858585;    color: #fff;    font-weight: bold;}
.table-bordered  thead tr th { font-size: 12px !important; background: #2B2866;color:#fff ;text-transform: capitalize;}
.table-bordered  thead tr th  a{  background: #2B2866; color:#fff !important;    text-transform: capitalize;}
.custom-table   thead tr th {  background: #2B2866;color:#fff;    text-transform: capitalize;}
.custom-table  thead tr th  a{  background: #2B2866; color:#fff}
.custom-table   thead > tr > th > a span {    color: #fff;}  
.custom-table   thead > tr > th > a span:hover {    color: #fff;}    
.breadcrumb > li {    text-transform: capitalize !important;}
.globel-setting{}
.globel-setting .portlet.box>.portlet-body{    float: left;    width: 100%;    border: 1px solid #3598DC;}
input[type="radio"], input[type="checkbox"] {margin-top: 0px;}
.appoint-list{border-bottom: 1px solid #03a9f4;    padding-bottom: 10px !important;}
.appoint-list:last-child{ padding:0px !important; margin:0px !important; border:0px ;}
.doc-patient{}
.doc-patient .btn{ border-bottom:0px;}
div.required label:after {    color: #FF0000;    content: " *";}
.nestable-lists .dd-handle{     height: auto !important;}
.time-ago{    color: #878787;    font-size: 0.875em;    margin-top: 5px;    float: left;}
.font14{    font-size: 14px !important;}
.font14  tbody > tr > td:first-child{ font-size: 14px !important;}
.caption2{    border-bottom: 2px solid #b0bec5;        padding-bottom: 9px;   margin-bottom: 15px;}
.app-id{    text-transform: capitalize;}
/*booking*/

.book_appointment {    position: fixed;    bottom: 0;    right: 61px;    width: 322px;    z-index: 999;}
.wrapper {    width: 91%;    margin: 0 auto;}
.book_appointment {    position: fixed;    bottom: 0;    right: 61px;    width: 322px;    z-index: 999;}

.book_head {    background: #FC9200 none;    padding: 15px 25px 8px 0px;    width: 322px;    cursor: pointer;
    position: fixed;    bottom: 0;}
.book_head  i{color: #fff;}
.book {    margin-right: 15px;}
.book_app {   font-size: 16px;    color: #fff;    margin-left: 10px;    margin-right: 20px;    float: left;}
.book_head .plus { color:#fff}

.book_form {    min-height: 360px;       border: 1px solid #FE9300; width: 322px;    background: #fff;    position: fixed;    bottom: -420px;    padding: 0px 10px;
    float: left;
    clear: both;
    margin-top: 12px;}
.bk_wrapper {    width: 251px;    margin: 0 auto;    padding-top: 30px;    padding-bottom: 30px;}
.bk_input {    margin-bottom: 20px;}
.book_form input {    width: 230px;    padding-left: 10px;}
.book_form input, .email_container .bk_input input, .bk_input textarea {
   width: 251px;    font-size: 12px;    height:27px;    border-radius: 0px;
}
.bk_button input {    width: 120px;    margin: 0 auto;    background: #4A2B00;    color: #fff;    border: none;
    padding-left: 0;
    transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
}
.ui-widget-header {   padding: 0px !important;
	border: none !important;    background: none !important;   color: #fff !important;   font-weight: bold;}
.book_head  .ui-lc-gravitar{ display:block;}
.ui-lc-viewer-container li{ border-bottom:1px solid grey !important; height:65px;}
.book_form  .ui-lc-gravitar{}
.book_form  .ui-lc-gravitar img{}
.book_form .ui-lc-viewers-user{font-weight: bold;font-size: 14px;border-bottom: 0px !important;text-decoration: none !important;
color: #0093FF;text-transform: capitalize;}
.book_form  .ui-lc-viewer-container li{padding: 5px 0px;}
.book_form   .ui-lc-viewer-container .ui-lc-gravitar img{border: 0px;border-radius: 100px ;margin-right: 10px; height:40px ; width:40px;}
.ui-lc-container  .ui-lc-header{      text-transform: capitalize;  background: #FF9400 none repeat scroll 0% 0% !important;    padding: 5px 0px !important;    color: #fff !important;}
.ui-lc-header .ui-icon{background-image: none !important ;  font-size: 12px;    color: #fff;    width: 15px;    height: 15px;    text-indent: inherit !important ; }
.ui-lc-header .ui-icon:after{ content:'x';    font-weight: bold;    font-family: sans-serif;}
.ui-lc-container  .conversation-item {       padding: 0px !important;    margin: 0px;    width: 99%;}
.ui-lc-gravitar img{ border-radius: 100%;}
#calendar .label-default {    background-color: #90a4ae;}
.modal-dialog{    position: initial;}
.remove-row{    cursor: pointer;}
.lab-test{}
.btn-default, .wizard-cancel, .wizard-back{    color: #fff !important;}
.none-event{pointer-events: none;}
.nestable-lists .dd-item > button.pull-right:before{ display: none; }  
.nestable-lists .dd-item > button .icon-remove:before {    content: 'x' !important;left: -15px;
    position: absolute;}
/*added by venkat on 14 june 2016 */

.label-pending {    background-color: #7D3507 !important;}
.label-confirmed {    background-color: #00A7FB !important;}
.label-completed {    background-color: #004E0C !important;}
.label-closed {    background-color: #FE0000 !important;}
.label-leave {    background-color: #FE00E9 !important;}
.fullwidth {width:100% !important; }
.btm-footer{    background: #fff;    border-top: 1px solid #e7ebee;    bottom: 0px;    font-size: 0.8em;
    height: 37px;    line-height: 36px;    margin-left: -15px;    margin-right: -15px;
    position: relative;    width: 100%;}
#nav-col{ width: 17%; float: left; }    
#content-wrapper{     width: 82%;    float: left; }
.prescription{}
.prescription  th{ font-size: 10px !important;}
.sub-heading1{color: rgb(3, 169, 244);}
.medicine-list  tbody > tr > td:first-child{font-size: inherit;font-weight: inherit;}
/*count down start*/
.video-conslutinglist{background: lightblue;    min-height: 150px;    padding: 20px 10px;}
#video-consulting{}
.disabledbtn{       border: none;  pointer-events: none;     opacity: 0.8;background: grey;}
.clockdiv{      padding-right: 0px;   margin-top: 5px;    font-weight: bold;    font-size: 10px; }
/*count down end*/

#config-tool.closed {        display: none;}
.fc-day-grid-event .fc-content {    white-space: inherit !important;}
.martp15{margin-top: 15px;}
#user-profile .profile-img {width: 200px;}
#user-profile h2 {   padding-left: 20px;}
.field-example-multiple-selected .multiselect-container{    height: 150px;    overflow-y: scroll;}
#content-wrapper {    min-height: 650px !important;}
.booking-row {    min-height: 100px;    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);    padding: 20px !important;}
.shadow2 {       background: #fff; -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    padding: 20px !important;}  
.minheight{     min-height: 300px; }  
.red-heading {    color: #AA002D;}   
.shadow-btn {    -webkit-box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);
    -moz-box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);    box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);
    border-radius: 0;    border: 1px solid#fff;} 
 .infobtn {    background: #03a9f4;    color: #fff !important;}
 .main-box1{     padding: 0 20px 20px 20px; }
 .shadow1{    -webkit-box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);
    -moz-box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);    box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.4);
    border-radius: 0;}
    .custom-table2 thead:first-child tr:first-child th {
    background: #F7E9D0;
    color: #15284E;
}
.custom-table2 tbody td {    font-size: 12px;}
#content-header{border-bottom: none !important}
.second-title{     padding-left: 0px;    border-bottom: none; color: #2b2866;    margin-top: 0px; }

